<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>PesquisaSalaController</servlet-name>
        <servlet-class>controller.PesquisaSalaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaAlunoController</servlet-name>
        <servlet-class>controller.PesquisaAlunoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaAulaController</servlet-name>
        <servlet-class>controller.PesquisaAulaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaAvaliacaoFisicaController</servlet-name>
        <servlet-class>controller.PesquisaAvaliacaoFisicaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaFichaTreinoController</servlet-name>
        <servlet-class>controller.PesquisaFichaTreinoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaPlanoController</servlet-name>
        <servlet-class>controller.PesquisaPlanoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaTurmaController</servlet-name>
        <servlet-class>controller.PesquisaTurmaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterSalaController</servlet-name>
        <servlet-class>controller.ManterSalaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterAulaController</servlet-name>
        <servlet-class>controller.ManterAulaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterAlunoController</servlet-name>
        <servlet-class>controller.ManterAlunoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterAvaliacaoFisicaController</servlet-name>
        <servlet-class>controller.ManterAvaliacaoFisicaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterFichaTreinoController</servlet-name>
        <servlet-class>controller.ManterFichaTreinoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterPlanoController</servlet-name>
        <servlet-class>controller.ManterPlanoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterTurmaController</servlet-name>
        <servlet-class>controller.ManterTurmaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterAerobicoController</servlet-name>
        <servlet-class>controller.ManterAerobicoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterMusculacaoController</servlet-name>
        <servlet-class>controller.ManterMusculacaoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaAerobicoController</servlet-name>
        <servlet-class>controller.PesquisaAerobicoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaMusculacaoController</servlet-name>
        <servlet-class>controller.PesquisaMusculacaoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterAdministradorController</servlet-name>
        <servlet-class>controller.ManterAdministradorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterProfessorController</servlet-name>
        <servlet-class>controller.ManterProfessorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaAdministradorController</servlet-name>
        <servlet-class>controller.PesquisaAdministradorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaProfessorController</servlet-name>
        <servlet-class>controller.PesquisaProfessorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterMatriculaAulaController</servlet-name>
        <servlet-class>controller.ManterMatriculaAulaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaMatriculaAulaController</servlet-name>
        <servlet-class>controller.PesquisaMatriculaAulaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaMatriculaAcademiaController</servlet-name>
        <servlet-class>controller.PesquisaMatriculaAcademiaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterMatriculaAcademiaController</servlet-name>
        <servlet-class>controller.ManterMatriculaAcademiaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaHorarioController</servlet-name>
        <servlet-class>controller.PesquisaHorarioController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterHorarioController</servlet-name>
        <servlet-class>controller.ManterHorarioController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaExercicioFichaController</servlet-name>
        <servlet-class>controller.PesquisaExercicioFichaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaExercicioController</servlet-name>
        <servlet-class>controller.PesquisaExercicioController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterExercicioController</servlet-name>
        <servlet-class>controller.ManterExercicioController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>tratamentoExcecao</servlet-name>
        <servlet-class>exception.tratamentoExcecao</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PesquisaSalaController</servlet-name>
        <url-pattern>/PesquisaSalaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaAlunoController</servlet-name>
        <url-pattern>/PesquisaAlunoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaAulaController</servlet-name>
        <url-pattern>/PesquisaAulaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaAvaliacaoFisicaController</servlet-name>
        <url-pattern>/PesquisaAvaliacaoFisicaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaFichaTreinoController</servlet-name>
        <url-pattern>/PesquisaFichaTreinoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaPlanoController</servlet-name>
        <url-pattern>/PesquisaPlanoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaTurmaController</servlet-name>
        <url-pattern>/PesquisaTurmaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterSalaController</servlet-name>
        <url-pattern>/ManterSalaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterAulaController</servlet-name>
        <url-pattern>/ManterAulaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterAlunoController</servlet-name>
        <url-pattern>/ManterAlunoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterAvaliacaoFisicaController</servlet-name>
        <url-pattern>/ManterAvaliacaoFisicaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterFichaTreinoController</servlet-name>
        <url-pattern>/ManterFichaTreinoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterPlanoController</servlet-name>
        <url-pattern>/ManterPlanoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterTurmaController</servlet-name>
        <url-pattern>/ManterTurmaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterAerobicoController</servlet-name>
        <url-pattern>/ManterAerobicoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterMusculacaoController</servlet-name>
        <url-pattern>/ManterMusculacaoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaAerobicoController</servlet-name>
        <url-pattern>/PesquisaAerobicoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaMusculacaoController</servlet-name>
        <url-pattern>/PesquisaMusculacaoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterAdministradorController</servlet-name>
        <url-pattern>/ManterAdministradorController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterProfessorController</servlet-name>
        <url-pattern>/ManterProfessorController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaAdministradorController</servlet-name>
        <url-pattern>/PesquisaAdministradorController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaProfessorController</servlet-name>
        <url-pattern>/PesquisaProfessorController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterMatriculaAulaController</servlet-name>
        <url-pattern>/ManterMatriculaAulaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaMatriculaAulaController</servlet-name>
        <url-pattern>/PesquisaMatriculaAulaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaMatriculaAcademiaController</servlet-name>
        <url-pattern>/PesquisaMatriculaAcademiaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterMatriculaAcademiaController</servlet-name>
        <url-pattern>/ManterMatriculaAcademiaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaHorarioController</servlet-name>
        <url-pattern>/PesquisaHorarioController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterHorarioController</servlet-name>
        <url-pattern>/ManterHorarioController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaExercicioFichaController</servlet-name>
        <url-pattern>/PesquisaExercicioFichaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaExercicioController</servlet-name>
        <url-pattern>/PesquisaExercicioController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterExercicioController</servlet-name>
        <url-pattern>/ManterExercicioController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>tratamentoExcecao</servlet-name>
        <url-pattern>/tratamentoExcecao</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>404</error-code>
        <location>/tratamentoExcecao</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/tratamentoExcecao</location>
    </error-page>
</web-app>
